#root {
	max-width: 1280px;
	min-width: 85vw;
	max-height: 95vh;
	min-height: 85vh;
	margin: auto;
	/* padding: 1rem; */
	text-align: center;
}

main {
	margin: 0;
	width: 99%;
	height: 95%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.reacr-aria-Select {
	margin-left: 0px;
}

#scene {
	margin: 0em auto;
	padding: 3em 0em;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;

	width: clamp(min(20vw, 350px), 80%, max(700px, 80vw));
	height: clamp(min(20vh, 350px), 85%, max(700px, 90vh));

	background: var(--scene-background);
}

section{
	width: 100%;
}

.controls {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 1em;
}

.fallback{
	margin:auto;
	width: 100%;
	font-size: 5em;
}

.backBtn {
	position: relative;
	margin-top: 500px;
	margin-left: -60vw;
	width: 5em;
	height: 4em;
	/* background-color: #000;
  color: #fff */
}

.openBtn {
	position: relative;
	margin-top: 300px;
	margin-left: -60vw;
	/* width: 5em;
  height: 4em; */
}

.dimen {
	color: white;
	text-shadow: #000 2px 2px 2px;
	transform: translate(15px, -15px);
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

/* @media (prefers-color-scheme: dark) {
#scene{
  background: var(--scene-background-dark);
}
} */

@media (max-width: 578px) {
	#root{
		margin:0px;
		height: 100vh;
	}
	.light-body, .dark-body {
		background-image: none;
	}
	main {
		width: 100vw;
		height: 100vh;
		padding: 0px;
	}
	#scene {
		background-image: none;
		padding: 0px;
		margin-top: 5%;
		margin-bottom: 0px;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
	#scene>div {
		height: clamp(300px, 100%, 500px);
		width: clamp(200px, 90%, 400px);

	}
	#buttons {
		display: flex;
		flex-direction: row;
		gap: 1em;
		justify-content:space-evenly;
		align-items:top;
		
	}
	.controls {
		width: 30%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 1em;

	}
	aside{
		margin-top: 2em;
	}
}
